.appbar {
  display: flex;  
  align-items: center;
  color: #000;
}

.drawer-icon {

}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid silver;
}

.item {
  border: 2px solid #000;
  cursor: pointer;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  background-color: #D3D4C2;
  padding: 26px 0;
}

.title {

}

.active {
  border: 2px solid #fff;
}